@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(
    circle 700px at 50% 50px,
    #e2f4ff,
    transparent
  );
}

.landingPage {
  height: calc(100vh - 10rem);
}

.shadowe {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.screehshotshadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

button:hover .arrow-icon {
  transform: translateX(3px); /* Adjust as needed */
}

.cardShadow {
  box-shadow: rgba(138, 208, 255, 0.25) 0px 54px 55px,
    rgba(142, 229, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(213, 108, 255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
